
/* SOPHISTICATED */


.sophisticated p {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 1.5em;
    font-weight: 300;
}

.sophisticated h1 {
    font-size: 80px;
    font-family: 'Tenor Sans', sans-serif;
    color:#524AFF;
    
}

.sophisticated h2 {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #CC8F27;
    
}

.sophisticated h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.sophisticated hr {
    border: none;
    height: 1px;
    color: #FFE08A;
    background-color: #524AFF;
}

.sophisticated-buttons a:link {
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 12px;
    color: #FFF;
    letter-spacing: 0.1em;
    text-decoration: none;
    
}

.sophisticated-buttons a:hover {
    color:rgb(255, 204, 0);
    background-color: #8827CC;
    
}




/* ENERGETIC */

.energetic h1 {
    font-size: 120px;
    font-family: 'Bangers', sans-serif;
    letter-spacing: 0.2em;
    text-transform: capitalize;
    color: rgba(255, 8, 0, 0.842)
}

.energetic h2 {

    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;

}

.energetic p {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}



/* RELAXED */
.relaxed h1 {
    font-size: 120px;
    font-family: 'Bangers', sans-serif;
    letter-spacing: 0.2em;
    text-transform: capitalize;
    color: rgba(255, 8, 0, 0.842)
}

.relaxed h2 {

    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;

}

.relaxed p {
    font-size: 60px;
    font-family: 'Dawning of a New Day', cursive;
    
}

/* CORPORATE */

.corporate h1 {
    font-size: 80px;
    font-family: 'Roboto Slab', serif;
    
}

/* FUN */

.fun h1 {
    font-size: 80px;
    font-family: 'Luckiest Guy', sans-serif;
    color: rgb(255, 136, 0);
}
.fun h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #FF1300;
}

.fun p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;

}


.fun a {
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    padding: 10px 25px;
    background: rgb(241, 159, 148);
    color: #FFF;
   
}
