/* SOPHISTICATED */


.sophisticated p {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 1.5em;
    font-weight: 300;
}

.sophisticated h1 {
    font-size: 20px;
    font-family: 'Tenor Sans', sans-serif;
    /* letter-spacing: 1em; */
    color:#DC476B;
}

.sophisticated h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    letter-spacing: 1em;
    color: rgb(125, 123, 126);
}

.sophisticated h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}


/* ENERGETIC */

.energetic h1 {
    font-size: 120px;
    font-family: 'Bangers', sans-serif;
    letter-spacing: 0.2em;
    text-transform: capitalize;
    color: rgba(255, 8, 0, 0.842)
}

.energetic h2 {

    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;

}

.energetic p {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}



/* RELAXED */
.relaxed h1 {
    font-size: 120px;
    font-family: 'Bangers', sans-serif;
    letter-spacing: 0.2em;
    text-transform: capitalize;
    color: rgba(255, 8, 0, 0.842)
}

.relaxed h2 {

    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;

}

.relaxed p {
    font-size: 60px;
    font-family: 'Dawning of a New Day', cursive;
    
}

/* CORPORATE */

.corporate h1 {
    font-size: 80px;
    font-family: 'Roboto Slab', serif;
    
}

/* FUN */

.fun h1 {
    font-size: 80px;
    font-family: 'Luckiest Guy', sans-serif;
    color: #FF1300;
}
.fun h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #FF1300;
}

.fun p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;

}

.wrapper-fun {
    align-content: center;
}

